<!DOCTYPE html>
    <html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body id="body">
        
        <div id="container1" class="container col-5" >
                        
            <!-- <div class="container-input row col-6 mx-2 my-2 pb-2" style="background-color: blue;"> -->
                <h1 class="title col-12 my-4 mx-2">Registro</h1>

                <label for="Input-U" class="form-label row col-6 my-1">
                    <input type="text" class="form" id="Input-U" placeholder="Nombre"><hr>
                </label>
                   
                <label for="Input-pass" class="form-label row col-6 my-1">
                    <input type="text" class="form" id="Input-pass" placeholder="Apellido"><hr>
                </label>

                <label for="Input-pass" class="form-label row col-6 my-1">
                    <input type="text" class="form" id="Input-pass" placeholder="Correo Electronico"><hr>
                </label>

                <label for="Input-pass" class="form-label row col-6 my-1">
                    <input type="text" class="form" id="Input-pass" placeholder="Usuario"><hr>
                </label>

                <label for="Input-pass" class="form-label row col-6 my-1">
                    <input type="text" class="form" id="Input-pass" placeholder="Contraseña"><hr>
                </label>

                <button type="button" id="button2" class="btn col-12 my-3">REGISTRARSE</button>

                </div>
                
        </div>

        <img id="unc" src="UNC2.svg" class="img-fluid col-5">

        <footer id="footer" class="footer">
            <img src="unc.png" id="unc2" class="img-fluid" >
        </footer>




    </body>

    </html>